@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'League Spartan', sans-serif;
   scroll-behavior: smooth;
   -webkit-user-select: none;
   /* Safari */
   -ms-user-select: none;
   /* IE 10 and IE 11 */
   user-select: none;
   /* Standard syntax */
}

body{
   @apply bg-base-violet;
}

.canvas {
   @apply absolute top-0;
}

.menu-item {
   @apply h-32 items-center justify-center flex;
}

.menu-item h1 {
   @apply text-3xl text-base-aqua;
}

.title {
   @apply text-base-aqua;
}

.help-icon:hover {
   @apply cursor-pointer drop-shadow-xl scale-150;
   @apply transition duration-300 ease-in-out;
}

.count-down .count-down-text {
   animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}


@keyframes ping {
   75%,
   100% {
      transform: scale(2);
      opacity: 0;
   }
}

.stats {
   @apply flex text-base-blue gap-3;
}

.stats span {
   @apply font-bold text-base-aqua;
}

.progress {
   transition: all .5s ease-in;
}

.main-menu,
.enter-username,
.encircle-diff,
.questions,
.count-down,
.summary {
   @apply h-0 overflow-hidden transition-all duration-500 ease-in-out;
}

.main-menu.isShow,
.enter-username.isShow,
.encircle-diff.isShow,
.count-down.isShow,
.questions.isShow,
.summary{
   @apply h-screen overflow-y-scroll;
}

.summary{
   @apply h-screen overflow-y-scroll;
}

.username[type="text"] {
   @apply transition-all duration-500 ease-in-out border;
   @apply w-full  text-4xl p-3 text-center bg-transparent  rounded-md focus:outline-none text-base-aqua;
   animation: border 2s linear infinite;
}

.username[type="text"]::placeholder {
   @apply text-base-blue;
}

@keyframes border {
   0% {
      @apply border-b-2 border-base-violet-light shadow-lg shadow-base-violet-light/50
   }

   50% {
      @apply border-b-2 border-base-aqua shadow-2xl shadow-base-aqua/50
   }

   100% {
      @apply border-b-2 border-base-violet-light shadow-lg shadow-base-violet-light/50
   }
}

.username[type="text"].isEmpty {
   animation: error 1s linear infinite;
}

@keyframes error {
   0% {
      @apply border-b-2 border-base-red shadow-lg shadow-base-red/50
   }

   50% {
      @apply border-b border-red-300 shadow-lg shadow-base-red/60
   }

   100% {
      @apply border-b-2 border-base-red shadow-lg shadow-base-red/50
   }
}

.range-slider-range {
   --pen-color: #B9E0FF;
   --thickness: 10px;
   -webkit-appearance: none;
   width: calc(100% - (73px));
   height: 10px;
   border-radius: 5px;
   background: #d7dcdf;
   outline: none;
   padding: 0;
   margin: 0;
}

.range-slider-range::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: var(--thickness);
   height: var(--thickness);
   border-radius: 50%;
   background: #2c3e50;
   cursor: pointer;

}


.range-slider-range::-moz-range-thumb {
   width: var(--thickness);
   height: var(--thickness);
   border: 0;
   border-radius: 50%;
   background: var(--pen-color);
   cursor: pointer;

}

::-moz-range-track {
   @apply border-0 bg-base-aqua;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
   border: 0;
}


.pen-settings {
   @apply transition-all duration-500 ease-in-out top-[-100rem];
}

.pen-settings.show{
   @apply top-0;
}

.pen-settings .wrapper {
   @apply flex bg-[#4a2d89f5] rounded-b-lg h-full flex-wrap justify-between;
   animation: border 2s linear infinite;
}


.opt{
   @apply flex relative items-center justify-center h-32;
}

.difficulty-options .opt .opt-label{
   @apply text-3xl text-base-blue font-bold;
}

.nav-options .opt .opt-label,
.choices .opt .opt-label{
   @apply text-2xl text-base-blue;
}

.quiz-container{
   @apply gap-10;
}

.correct-answer{
   @apply flex h-full absolute w-full justify-center bottom-[-100em] transition-all ease-in-out duration-1000;
   background: rgba(15, 5, 36, 0.85);
}

.correct-answer.isShow{
   @apply bottom-0 ;
}

.correct-answer .next-btn{
   @apply flex relative items-center justify-center h-20;
}

.correct-answer .wrapper{
   @apply w-full flex flex-col justify-center items-center;
}

.correct-answer .wrapper .content{
   @apply w-9/12 p-10 rounded-xl flex flex-col gap-10 bg-base-violet justify-center ;
   animation: borderWrongAnswer 1s linear infinite;

}

.correct-answer .wrapper .content.correct{
   animation: borderCorrectAnswer 1s linear infinite;
}

@keyframes borderCorrectAnswer {
   0% {
      @apply border-t-2 border-r-2 border-l-2 border-base-green shadow-lg shadow-base-green/100
   }

   50% {
      @apply border-b border-r border-l border-base-aqua shadow-xl shadow-base-aqua/5
   }

   100% {
      @apply border-t-2 border-r-2 border-l-2 border-base-green shadow-lg shadow-base-green/50
   }
}

@keyframes borderWrongAnswer {
   0% {
      @apply border-t-2 border-r-2 border-l-2 border-base-red shadow-lg shadow-base-red/100
   }

   50% {
      @apply border-b border-r border-l border-base-aqua shadow-xl shadow-base-aqua/5
   }

   100% {
      @apply border-t-2 border-r-2 border-l-2 border-base-red shadow-lg shadow-base-red/50
   }
}

@media screen and (max-width: 810px) {
   .pen-settings .wrapper {
      @apply items-center;
   }

   .title-header .title{
      @apply text-4xl;
   }

   .username[type="text"] {
      @apply text-3xl;
   }

   .input-container{
      @apply w-10/12;
   }

   .pen-thickness {
      @apply w-full;
   }

   .pen-color, .close-settings {
      @apply w-full justify-center items-center ;
   }

   .difficulty-options{
      @apply flex-col mt-5;
   }

   .nav-options{
      @apply mt-5;
   }

}

@media screen and (max-width: 524px){
   .nav-options{
      @apply w-10/12;
   }

   .encircle-diff .wrapper{
      @apply gap-5;
   }

   .choices{
      @apply grid-cols-1 mt-10
   }

   .choices .opt{
      @apply flex relative items-center justify-center h-32;
   }
   
   .question{
      @apply text-2xl;
   }

   .choices .opt .opt-label{
      @apply text-xl text-base-blue;
   }

   .quiz-details{
      @apply flex-col w-11/12;
   }

   .questions.isShow {
      @apply h-full;
   }

   #toasts{
      @apply flex-col justify-start;
   }
}